. {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  border: 1px solid gray;
  margin: 0px auto;
} 

/* header 시작 */
header {
  background-color: #1A1B1F;
  height: 180px;
  width: 1423px;
}

#header-top {
  background-color: #1A1B1F;
  height: 50px;
  width: 1423px;
  position:fixed;
}

#header-top nav {
  height: 50px;
  width: 1423px;
  display: flex;
  justify-content: space-between;
}

#menubar-left{
  position:relative;
  top: -5px;
  left: -30px;
}

.top-ul{
  display: flex;
  list-style-type: none;
}

.menubar{
  margin: 0px 5px;
}

#menubar-img{
  height: 30px;
  width: 30px;
}

#menubar-img img{
  height: 30px;
  width: 30px;
}

.menubar-div{
  text-align: center;
}

.menubar-left-list{
  margin: 5px;
  text-decoration: none;
  color: lightgray;
  font-size: large;
}

#menubar-right{
  margin: 0px 10px;
}

#menubar-right ul{
  list-style-type: none;
}

.menubar-right-list{
  margin: 3px; 
  text-decoration: none;
  color: lightgray;
  font-size: small;
}

/* header-middle 시작 */
#header-middle{
  margin: 50px 0px 0px;
  height: 120px;
  width: 1423px;
}

#middle-top{
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#middle-musinsa{
  margin: 3px;
}

#middle-musinsa a{
  text-decoration: none;
  font-size: large;
  color: lightgray;
}

#middle-ring a img{
  height: 25px;
  width: 25px;
}

#middle-input{
  height: 35px;
  padding: 10px;
}

#middle-input form label input{
  width: 1370px;
  height: 30px;
}

#main-top{
  background-color: #1A1B1F;
  height: 40px;
  position: sticky;
  top: 50px;
}



.top-list-genre{
  margin: 0 10px;
  text-decoration: none;
  color: lightgray;
}


/* header 종료 */

/* main 시작 */
main {
  height: 2416px;
  width: 1423px;
}

#main-top{
  background-color: #1A1B1F;
  height: 40px;
  position: sticky;
  top: 50px;
}

.top-list-genre{
  margin: 0 10px;
  text-decoration: none;
  color: lightgray;
}

/* middle-discount */
#main-discount{
  border: 1px solid gray;
  height: 445px;
  display: flex;
}

.discount-three{
  border: 1px solid gray;
  width:33.33%;
}

.discount-three img{
  height: 445px;
  width: 100%;
}

/* middle-content */
#main-content{
  border: 1px solid gray;
  height: 100px;
}

/* minimal-brand */
#minimal-brand{
  border: 1px solid gray;
  height: 480px;
}

.main-items{
  border: 1px solid gray;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.main-items-genre{
  font-size: large;
  line-height: 40px;
  margin: 0 10px;
}

.main-items-more{
  font-size: small;
  line-height: 40px;
  margin: 10px;
}

.item-recommend-frame{
  border: 1px solid gray;
  height: 410px;
  padding: 0px 00px 0px 20px;
  display: flex;
  flex-wrap: wrap;
}

.item-recommend-img{
  border: 1px solid gray;
  height: 410px;
  width: 223px;
}

.item-recommend-top{
  border: 1px solid gray;
  height: 350px;
}

.item-recommend-name{
  border: 1px solid gray;
  height: 60px;
}

/* new-brand-item */
#new-brand-item{
  border: 1px solid gray;
  height: 900px;
}

.item-recommend-frame-line2{
  border: 1px solid gray;
  height: 820px;
  padding: 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

/* live-broadcasting */
#live-broadcasting{
  border: 1px solid gray;
  height: 480px;
}

/* footer 시작 */
footer {
  height: 600px;
  width: 1423px;
}

/* footer-link */
#footer-link{
  border: 1px solid gray;
  height: 100px;
  width: 1423px;
  
}

#footer-link-list{
  border: 1px solid gray;
  margin: 20px;
  height: 50px;
}

/* footer-info */
#footer-info{
  border: 1px solid gray;
  height: 200px;
}

#footer-info-list{
  border: 1px solid gray;
  margin: 20px;
  height: 160px;
}

/* all-rights-reversed */
#all-rights-reversed{
  border: 1px solid gray;
  height: 120px;
}

#all-rights-reversed-info{
  border: 1px solid gray;
  margin: 20px;
  height: 80px;
}

/* sns-logo */
#sns-logo{
  margin: 10px;
  border: 1px solid gray;
  height: 70px;
}

#sns-logo-img{
  border: 1px solid gray;
  height: 40px;
  margin: 20px;
}