*{
  margin : 0;
  padding : 0;
}

nav{
  background-color : #1A1B1F;
  display : flex;
  justify-content : space-between;
}

.header-left{
  background-color : #1A1B1F;
  height : 50px;
  color : white;
}

.header-left ul{
  display : flex;
}

.header-menubar{
  background-color : beige;
  margin : 10px;
  height : 30px;
  width : 30px;
}

.header-menubar img{
  height : 30px;
  width : 30px;
}

.header-li{
  list-style-type : none;
}

.header-li-div{
  margin : 10px;
  height : 30px;
  text-align : center;
  line-height : 30px;
}

.header-a1{
  text-decoration : none;
  margin : 5px;
  color : white;
}

.header-a2{
  text-decoration : none;
  margin : 5px;
  color : white;
  font-size : 13px;
}



