html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  margin: 0px auto;
}

/* header 시작 */
header {
  background-color: #1A1B1F;
  height: 110px;
  width: 1423px;
}

#header-top {
  background-color: #1A1B1F;
  height: 50px;
  width: 1423px;
  position: fixed;
  top: 0px;
  z-index: 10000;

}

#header-top nav {
  height: 50px;
  width: 1423px;
  display: flex;
  justify-content: space-between;
}

#menubar-left {
  position: relative;
  top: -5px;
  left: -30px;
}

.top-ul {
  display: flex;
  list-style-type: none;
}

.menubar {
  margin: 0px 5px;
}

#menubar-img:active #menubar-menu {
  display: block;
}

#menubar-menu:hover{
  display: block;
}

#menu-align{
  width: 1417px;
  height: 20px;
  justify-items: center;
}

#menubar-menu {
  background-color: #F5F5F5;
  height: 670px;
  width: 580px;
  border-radius: 10px;
  display: none;
}

#menu-top {
  background-color: #F5F5F5;
  height: 40px;
  border-radius: 10px;
}

#under-bar{
  position: relative;
  height: 3px;
  width: 60px;
  background-color: black;
  top: 23px;
  left: 16px;
  border-radius: 2px;
}

#menu-top ul {
  display: flex;
  list-style-type: none;
  transform: translate(-30px, 12px);
}

#menu-top ul li {
  margin: 0 5px;
}

#menu-hr{
  width: 578px;
}

#menu-middle {
  background-color: #F5F5F5;
  height: 40px;
  border-radius: 10px;
}

#menu-middle ul {
  display: flex;
  list-style-type: none;
  transform: translate(-30px, 8px)
}

#menu-middle ul li {
  margin: 0 5px;
}

#menu-bottom {
  background-color: white;
  height: 610px;
  display: flex;
  border-radius: 10px;
}

#bottom-left {
  background-color: #F5F5F5;
  height: 610px;
  width: 90px;
  border-radius: 10px;
}

#bottom-left ul {
  list-style-type: none;
  transform: translateX(-38px)
}

#bottom-left ul div {
  background-color: #F5F5F5;
  height: 34px;
  width: 88px;
  font-size: 14px;
  line-height: 34px;
}

#white-list {
  background-color: white;
}

#bottom-left ul div:hover {
  background-color: white;
}

#bottom-right {
  background-color: white;
  height: 610px;
  width: 490px;
  border-radius: 10px;
}

#bottom-right-top{
  height: 40px;
}

#bottom-right-top div{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  transform: translateY(5px);
}

#bottom-right-top div div b{
  transform: translateX(5px);
  font-size: 15px;
}

#beauty-link{
  color: gray;
  font-size: 14px;
}

.beauty-row{
  display: flex;
  height: 90px;
  width: 400px;
  transform: translateX(48px);
  justify-content: space-around;
}

.beauty-col{
  height: 90px;
  width: 90px;
}

/* .beauty-col-img {
  height: 90px;
  width: 90px;
} */

#menubar-img {
  height: 30px;
  width: 30px;
}

#menubar-img img {
  height: 30px;
  width: 30px;
}

.menubar-div {
  text-align: center;
  position: relative;
}

.menubar-left-list {
  margin: 5px;
  text-decoration: none;
  color: lightgray;
  font-size: large;
}

#menubar-right {
  margin: 0px 10px;
}

#menubar-right ul {
  list-style-type: none;
}

.menubar-right-list {
  margin: 3px;
  text-decoration: none;
  color: lightgray;
  font-size: small;
}

.menubar-right-list:active .search {
  display: block;
}

.search:hover{
  display: block;
}

#menubar-search{
  width: 1423px;
  height: 20px;
  justify-items: center;
  /* display: none; */
  position : absolute;
  top: -16px;
  left: -1138px;
}

.search {
  background-color: #F5F5F5;
  height: 600px;
  width: 1423px;
  display: none;
  position: relative;
  /* top: 0px;
  left: 0px; */
  z-index: 10001;
}

.search-input {
  border: 0;
  position: relative;
  top: 10px;
  left: -7px;
  height: 40px;
  width: 1350px;
  border-radius: 4px;
  font-size: 15px;
}



.search-button {
  border: 0px;
  background-color: white;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 15px;
  left: 1324px;
}

.search-exit {
  border: 0;
  height: 40px;
  width: 40px;
  position: relative;
  top: 12px;
  left: 10px;
  font-size: 25px;
}

.famous {
  margin: 20px 0;
  height: 200px;
  width: 700px;
  padding: 10px;
  color: black;
  font-size: 20px;
  text-align: left;
}

.famous ol {
  display: flex;
}

.famous-search {
  margin: 7px 0;
  width: 250px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}


.famous-search img {
  height: 15px;
  width: 15px;
}

.famous-left {
  transform: translate(-20px, -10px);
}

.famous-right {
  transform: translate(20px, -11px);
}

.rise {
  margin: 20px 0;
  height: 200px;
  width: 700px;
  padding: 10px;
  color: black;
  font-size: 20px;
  text-align: left;
}

.rise ol {
  display: flex;
}

.rise-search {
  margin: 7px 0;
  width: 250px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.rise-left {
  transform: translate(-20px, -10px);
}

.rise-right {
  transform: translate(20px, -11px);
}

/* header-middle 시작 */
#header-middle {
  margin: 50px 0px 0px;
  height: 120px;
  width: 1423px;
}

#middle-top {
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#middle-musinsa {
  margin: 3px;
}

#middle-musinsa a {
  text-decoration: none;
  font-size: large;
  color: lightgray;
}

#middle-search{
  width: 1417px;
  justify-items: center;

}

#middle-ring a img {
  height: 25px;
  width: 25px;
}

#middle-input {
  height: 35px;
  padding: 10px;
}

#middle-search{
  position: relative;
  height: 30px;
  width: 30px;
  top: -33px;
  left: 1336px;
}



#middle-input-search {
  width: 1370px;
  height: 30px;
}

#middle-input:active .search {
  display: block;
}

#input-search{
  background-color: red;
  height: 20px;
  width: 1403px;
  justify-items: center;
  position: relative;
  top: -181px;
}

.search-input-middle {
  border: 0;
  position: relative;
  top: 10px;
  left: -7px;
  height: 40px;
  width: 1350px;
  border-radius: 4px;
  font-size: 15px;
}

#main-top {
  background-color: #1A1B1F;
  height: 40px;
  position: sticky;
  top: 50px;
  z-index: 1000;
}



.top-list-genre {
  margin: 0 10px;
  text-decoration: none;
  color: lightgray;
}


/* header 종료 */

#top-bar{
  height: 30px;
  width: 1400px;
  position: fixed;
  top: 670px;
  z-index: 20000;
  justify-items: end;
}

#top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 20001;
  
}

#top-button {
  border: 0 solid white;
  background-color: white;
  border-radius: 50%;

}

#top-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#top-gender {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: none;
}

#top-gender-button {
  border: 0 solid black;
  background-color: black;
  border-radius: 50%;

}

#top-gender-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#top-recent {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: none;
}

#top-recent-button {
  border: 0 solid white;
  background-color: white;
  border-radius: 50%;

}

#top-recent-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#top-move {
  height: 50px;
  width: 50px;
  /* position: fixed;
  top: 570px;
  left: 1340px; */
  border-radius: 50%;
  display: none;
}

#top-move-button {
  border: 0 solid white;
  background-color: white;
  border-radius: 50%;

}

#top-move-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#top-menu:hover #top-gender,
#top-menu:hover #top-recent,
#top-menu:hover #top-move {
  display: block;
  z-index: 20001;
}

#top-menu {
  height: 150px;
  width: 50px;
  position: relative;
  top: -150px;
  display: none;
}

#top:hover #top-menu {
  display: block;
  z-index: 30;
}

/* main 시작 */
main {
  background-color: #F5F5F5;
  height: 2290px;
  width: 1423px;
}

#main-top {
  background-color: #1A1B1F;
  height: 40px;
  position: sticky;
  top: 50px;
}

.top-list-genre {
  margin: 0 10px;
  text-decoration: none;
  color: lightgray;
}

#under-line {
  position: absolute;
  background-color: white;
  width: 32px;
  height: 2px;
  top: 38px;
  left: 76px;
}

/* middle-discount */
#main-discount {
  height: 445px;
}

#discount-dropdown {
  display: flex;
}

#discount-dropdown:hover .discount-swipe-left,
#discount-dropdown:hover .discount-swipe-right {
  display: block;
  z-index: 3;
}

.discount-three {
  height: 445px;
  width: 1423px;
  position: relative;
  display: flex;
}

.discount-img {
  margin: 0;
  position: relative;
  height: 445px;
  width: 474.4px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.discount-img:hover{
  transform: scale(1.1, 1.1);
  z-index: 2;
  border-radius: 10px;
}

.discount-swipe-left {
  background-color: white;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 210px;
  left: 20px;
  display: none;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.discount-swipe-right {
  background-color: white;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 210px;
  left: 1360px;
  display: none;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

/* main-content */
#main-content {
  height: 130px;
}

#main-content div nav {
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.content-list {
  border: 1px solid rgb(190, 189, 189);
  background-color: white;
  margin: 3px;
  padding: 0px 10px;
  height: 35px;
  width: fit-content;
  border-radius: 5px;
}

.main-content-list {
  text-decoration: none;
  line-height: 35px;
  color: black;
}

.main-content-list img {
  height: 25px;
  width: 25px;
  position: relative;
  top: 5px;
}

/* minimal-brand */
#minimal-brand {
  height: 440px;
}

.main-items {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.main-items-genre {
  font-size: large;
  line-height: 40px;
  margin: 0 10px;
}

.main-items-more {
  font-size: small;
  line-height: 40px;
  margin: 10px;
}

.more-color:visited,
.more-color:link {
  color: gray;
}

.item-recommend-frame {
  height: 430px;
  padding: 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.item-recommend-frame:hover #minimal-left,
.item-recommend-frame:hover #minimal-right {
  display: block;
  z-index: 10;
}

#minimal-left {
  border: 1px solid lightgray;
  height: 30px;
  width: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 150px;
  left: 20px;
}

#minimal-right {
  border: 1px solid lightgray;
  height: 30px;
  width: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 150px;
  left: 1370px;
}

.image-link {
  height: 362px;
  text-decoration: none;
}

.item-recommend-img {
  position: relative;
  height: 362px;
  width: 223px;
}

.item-recommend-top {
  height: 300px;
  z-index: 5;
}

.item-image {
  height: 304px;
  width: 223px;
}

.item-recommend-name {
  padding: 20px 0 0;
  background-color: white;
  height: 80px;
}

.item-recommend-name h6 {
  margin: 5px;
}

.image-link:visited,
.image-link:link {
  color: black;
}

.discount {
  color: red;
}

/* new-brand-item */
#new-brand-item {
  height: 800px;
}

.item-recommend-frame-line2 {
  height: 724px;
  padding: 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.item-recommend-frame-line2:hover #new-brand-left,
.item-recommend-frame-line2:hover #new-brand-right {
  display: block;
  z-index: 10;
}

#new-brand-left {
  border: 1px solid lightgray;
  height: 30px;
  width: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 360px;
  left: 20px;
}

#new-brand-right {
  border: 1px solid lightgray;
  height: 30px;
  width: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 360px;
  left: 1370px;
}

/* live-broadcasting */
#live-broadcasting {
  height: 480px;
  background-color: #F5F5F5;
}

.item-recommend-frame-live {
  height: 380px;
  padding: 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.item-recommend-frame-live:hover #live-left,
.item-recommend-frame-live:hover #live-right {
  display: block;
  z-index: 10;
}

#live-left {
  border: 1px solid lightgray;
  height: 30px;
  width: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 150px;
  left: 20px;
}

#live-right {
  border: 1px solid lightgray;
  height: 30px;
  width: 30px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 150px;
  left: 1370px;
}

.image-link-live {
  height: 360px;
  text-decoration: none;
  color: black;
}

.item-recommend-img-live {
  position: relative;
  height: 360px;
  width: 223px;
}

.item-recommend-name-live {
  background-color: white;
  height: 60px;
  padding: 5px;
}

.item-recommend-top {
  height: 280px;
  z-index: 5;
}

.d-day {
  position: absolute;
  top: 280px;
  left: 10px;
  background-color: rgb(78, 78, 78);
  height: 15px;
  width: 25px;
  border-radius: 3px;
  z-index: 10;
  text-align: center;
  line-height: 15px;
  font-size: small;
  color: white;
}

/* footer 시작 */
footer {
  background-color: #F0F0F0;
  width: 1423px;
}

/* footer-link */
#footer-category {
  height: 40px;
  width: 1423px;
}

#footer-category-link {
  margin: 5px 20px;
  height: 50px;
  display: flex;
}

.footer-category-link-list {
  border: 1px solid #E6E6E6;
  background-color: #E6E6E6;
  margin: 5px;
  padding: 1px 5px;
  height: 20px;
  width: fit-content;
  font-size: small;
  line-height: 20px;
  text-decoration: none;
  color: #7a7a7a;
}

/* footer-info */
#footer-info-list ul {
  list-style-type: none;
  position: relative;
  left: -20px;
}

.footer-info-li {
  margin: 10px 0;
}

.footer-info-li-button {
  width: 1380px;
  display: flex;
  justify-content: space-between;
}

.footer-info-li-button b {
  font-size: 12px;
  color: #7a7a7a;
}

.button-reverse {
  position: absolute;
  left: 1404px;
  display: none;
}


.footer-info-li-div {
  display: none;
  font-size: smaller;
}

.footer-info-li-div p,
.footer-info-li-div p a {
  color: #7a7a7a;
}

.li-div-li a {
  text-decoration: none;
  color: #7a7a7a;
  position: relative;
  left: -20px;
}

.footer-info-li:hover .footer-info-li-div,
.footer-info-li:hover .button-reverse {
  display: block;
}

/* all-rights-reversed */
#all-rights-reversed-info {
  margin: 20px;
  color: #7a7a7a;
}

.reversed-h {
  margin: 4px 0;
}

.reversed-h a {
  color: #7a7a7a;
}

/* sns-logo */
#sns-logo {
  margin: 10px;
  height: 80px
}


#sns-logo-img a {
  text-decoration: none;
  margin: 0 5px;
}



.heart {
  position: absolute;
  top: 275px;
  left: 200px;
  width: 10px;
  height: 10px;
  background-color: lightslategray;
  transform: rotate(-45deg);
  margin: 5px;
  z-index: 10;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: lightslategray;
  border-radius: 50%;
}

.heart::before {
  top: -5px;
  left: 0;
}

.heart::after {
  top: 0;
  right: -5px;
}

.heart:hover,
.heart:hover::before,
.heart:hover::after {
  background-color: red;
}

hr {
  width: 1380px;
}

